@import '../../../../assets/sass/variables';
@import '../../../../assets/sass/_mixins/for-size.scss';
img {
    margin: 1em 0;
    border: none;
    opacity: 0.5;
    &:hover {
        opacity: 0.7;
        cursor: cell;
    }
}