@import '../../../../assets/sass/variables';
.nav-pills {
    background-color: transparent;
    margin: 2em 0;
}

.nav-link {
    background-color: transparent;
    color: $gray-800;

}

.nav-link.active {
        background-color: transparent;
        color: $gray-600;   
}

a {
    &:hover {
        -webkit-animation: color-change 1s infinite;
        -moz-animation: color-change 1s infinite;
        -o-animation: color-change 1s infinite;
        -ms-animation: color-change 1s infinite;
        animation: color-change 1s infinite;
    }
}